#about     
    .about_main
            div.about_title 關於我們
                h3 秉持外皮酥脆、手工厚實原則
            div.about_container1
                div.about_contect1(data-aos="fade-down" data-aos-offset="-100" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center")
                    span 大街小巷到處可循的蔥油餅，已是人們生活中不可或缺的午後小點。正宗傳統蔥油餅堅持現點現作、餅皮現桿現煎，滿滿的蔥花附著在上面，秉持外皮酥脆、手工厚實的原則，香氣十足令人…
                    a.about_button(href="#" alt="button") READ MORE
                    img(src="raddishdraw1.png" alt="illustation")
                div.about_pic1(data-aos="fade-up" data-aos-offset="-100" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center")
                    img(src="about.jpg" alt="About Us")
            div.about_container2
                div.about_video(data-aos="fade-up" data-aos-offset="-300" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center")
                    <iframe width="560" height="350" src="https://www.youtube.com/embed/9xMTiml_wws" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                div.about_contect2(data-aos="fade-down" data-aos-offset="-300" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center")
                    .about_c2_text
                        span - 台中30年蔥油餅老店 - 
                        span 老饕們的口袋名單，現在報給你知
                    a.about_button(href="#" alt="button") READ MORE


