
<div id="contactall">
<div class="contact-title">
    <div>有事跟我說!</div>
</div>
<div class="contact-box" data-aos="fade-up" data-aos-offset="-400" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
    <form action="#" method="POST">
        <div class="form-left">
            <label for="name">姓名</label>
            <input type="text" id="name" name="name" placeholder="請輸入名字" required>
            <label for="email">信箱</label>
            <input type="email" id="email" name="email" placeholder="請輸入信箱" required>
            <fieldset>
                <legend>性別</legend>
                .contact_fieldset
                    <label for="man">男性</label>
                    <input type="radio" id="man" name="sex" value="man">
                    <label for="woman">女性</label>
                    <input type="radio" id="woman" name="sex" value="woman">
            </fieldset>
            <label for="item">回饋項目</label>
            <select name="item" id="item">
            <option value="food">食物</option>
            <option value="service">服務</option>
            </select>
        </div>
        <div class="form-right">
            <label for="feedback">意見回饋</label>
            <textarea name="feedback" id="feedbck" cols="30" rows="10"></textarea>
            <div class="formButton">
                <input type="reset" value="重新輸入">
                <input type="submit" value="確認送出">
            </div>
        </div>  
    </form>
</div>
</div>
