footer(class="site-footer")
    .rowcontainer
        .footerabout
            h3.color-g 關於我們
            p.color-grey 堅持手做，用心呈現最道地的美味。
            h3.color-g 其他資訊
            .footer_abox
                a(href="https://www.facebook.com/wowforfood/videos/164704884454426/?q=%E5%82%B3%E7%B5%B1%E8%94%A5%E6%B2%B9%E9%A4%85&epa=SEARCH_BOX")
                    img(src="footer_fb.png" alt="facebook")
                a(href="#")
                    img(src="footer_ig.png" alt="instagram")
                a(href="#")
                    img(src="footer_mail.png" alt="mail")
        .footmidbox
            a(href="#")
                img(src="lowlogo2.png" alt="top")
        .footlink
            h3.color-g 快速連結
            ul
                    <li><a href="#indexpage">首頁 </a></li>
                    <li><a href="#about">關於我們 </a></li>
                    <li><a href="#menu">菜單 </a></li>
                    <li><a href="#event">好康逗相報 </a></li>
                    <li><a href="#location">找不到我們嗎 </a></li>
                    <li><a href="#contactall">有事跟我說 </a></li> 
    hr   
    .copyright RayEveJim © 2019         
                        
