*{
    font-family: 'Noto Serif TC', serif;
    font-size: 13px;
    border: 0.5px solid rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
}

/* 整體頁面 */
.menu_box{
    background-color: rgba(179, 179, 179, 0.1);
    width: 100%;
}
.menu_main{
    width: 80%;
    margin: 0 auto;
    color: rgba(83, 85, 92, 0.95);
}
/* 標題 */
.menu_title{
    font-size: 2.5em;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

/* 蔥油餅 */
.menu_scalliontitle{
    text-align: center;
    font-size: 2em;
    margin: 10px;
    margin-right: 700px;
}
.menu_scallion{
    display: grid;
    grid-template-columns: 35% auto 35%;
    grid-gap: 10px;
    margin-bottom: 40px;
}
.menu_scallionpic{
    text-align: center;
}
.menu_scallionpic img[src="scallion2.jpg"]{
    width: 300px;
    border-radius: 50%;
}
.menu_scallionpic img[src="scallion1.jpg"]{
    width: 300px;
    border-radius: 50%;
    margin-top: 180px;
}
.menu_scalliontext{
    text-align: center;
    padding-top: 80px;
}
.menu_scallion h3{
    font-size: 1.8em;
    margin: 40px 0;
}
.menu_scalliontext span{
    margin-left: 30px;
    font-size: 1em;
}
/* 蘿蔔糕 */
.menu_raddish{
    display: grid;
    grid-template-columns: auto 50%;
    grid-gap: 20px;
    /* margin: 40px 0; */
    margin-bottom: 40px;
}
.menu_raddishtext h2{
    font-size: 2em;
    text-align: center;
    margin: 10px;
}
.menu_raddishtext{
    text-align: center;
    padding-top: 80px;
}
.menu_raddishtext h3{
    font-size: 1.8em;
    margin: 40px 0;
}
.menu_raddishtext span{
    margin-left: 30px;
    font-size: 1em;
}
.menu_raddishtext img{
    width: 100px;
    float: left;
    margin-left: 150px;
}
.menu_raddishpic{
    text-align: center;
}
.menu_raddishpic img{
    width: 100%;
}
/* 湯品 */
.menu_soup{
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 20px;
}
.menu_souppic img{
    width: 70%;
}
.menu_souptext h2{
    font-size: 2em;
    text-align: center;
    margin: 10px;
    margin-top: 150px;
}
.menu_souptext h3{
    font-size: 1.8em;
    margin: 40px 0;
    text-align: center;
}
.menu_souptext span{
    margin-left: 30px;
    font-size: 1em;
}
p{
    color:#b99a0279;
    text-align: center;
}
p .menu_scallion_p{
    color:#b99a0279;
    margin-left: 290px;
}
.menu_souptext img{
    width: 300px;
    float: right;
    margin: 100px 20px 0 0;
}

[data-aos="example-anim3"] {
    transform: rotate(360deg) translateX(0px);
    opacity: 0;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    transition-duration: 3s !important;
  }
  [data-aos="example-anim3"].aos-animate {
    transform: rotate(0) translateX(-50px);
    transform-origin: 30% 50%;
    opacity: 1;
  }
  /* 手機 */
  @media screen and (max-width:767px){
    .menu_title{
        font-size: 2.5em;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 40px;
    }
    .menu_scalliontitle{
        margin: 10px;
    }
    .menu_scallion{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px 5px;
    }
    .menu_scallionpic img[src="scallion1.jpg"]{
        width: 200px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .menu_scallionpic img[src="scallion2.jpg"]{
        width: 200px;
        margin-top: 10px;
    }
    .menu_raddishtext img{
        width: 10%;
        display: inline-block;
    }
    .menu_raddish{
        grid-template-columns: 100%;
        height: 700px;
    }
    .menu_raddishtext img{
        margin-bottom: 50px;
    }
    .menu_raddishpic{
        margin-bottom: 200px;
    }
    .menu_soup{
        grid-template-columns: 100%;
        height: 50%;
        margin-top: 0px;
    }
    .menu_souppic{
        text-align: center;
        margin-top: 0px;
        height: 200px;
    }
    .menu_souptext img{
        padding-bottom: 100px;
        height: 50px;
    }
  }
  /* 平板 */
  @media screen and (min-width:768px) and (max-width:1023px){
    .menu_scalliontitle{
        margin: 10px;
        padding-bottom: 70px;
    }
    .menu_scallionpic img[src="scallion1.jpg"]{
        width: 250px;
    }
    .menu_scallionpic img[src="scallion2.jpg"]{
        width: 250px;
    }
    .menu_raddish{
        grid-template-columns: 100%;
    }
    .menu_raddishtext img{
        margin-bottom: 50px;
    }
    .menu_raddishpic{
        margin-bottom: 200px;
    }
    .menu_soup{
        grid-template-columns: 100%;
    }
    .menu_souppic{
        text-align: center;
    }
    .menu_souptext img{
        padding-bottom: 100px;
    }
}