.menu_box(id="menu")
    .menu_main
            div.menu_title 菜單
                //- 菜單旁IKON
                //- img(src="menuh1ikon.svg" alt="menuh1ikon")
            h2.menu_scalliontitle 蔥油餅
                p.menu_scallion_p SALLION CAKE
            div.menu_scallion
                div.menu_scallionpic(data-aos="example-anim3" data-aos-offset="-50")
                    img(src="scallion1.jpg" alt="scallioncake")
                div.menu_scalliontext
                    h3 一張
                        span $80
                    h3 半張
                        span $40
                div.menu_scallionpic(data-aos="fade-left" data-aos-offset="-5" data-aos-duration="2000")
                    img(src="scallion2.jpg" alt="scallioncake")
            div.menu_raddish
                div.menu_raddishtext
                    h2 蘿蔔糕
                        p TURNIP CAKE
                    h3 一份
                        span $40
                    img(src="raddishdraw.png" alt="raddish")                    
                div.menu_raddishpic(data-aos="fade-right" data-aos-offset="-5" data-aos-duration="2000")
                    img(src="raddish.jpg" alt="raddish")
            div.menu_soup 
                div.menu_souppic(data-aos="fade-up-left" data-aos-offset="-5" data-aos-duration="2000")
                    img(src="menusoup.jpg" alt="soup")
                div.menu_souptext
                    h2 湯品
                        p SOUP
                    h3 綜合湯
                        span $40
                    img(src="scalliondraw.png" alt="scallion")
